.vs/slnx.sqlite
.vs/VSWorkspaceState.json
.vs/dp_research_public/FileContentIndex/7c357d98-783d-419c-8d23-c8464e8ce12e.vsidx
.vs/dp_research_public/FileContentIndex/read.lock
.vs/dp_research_public/v17/.wsuo
deconvolution/.vs/slnx.sqlite
deconvolution/.vs/VSWorkspaceState.json
deconvolution/.vs/deconvolution/FileContentIndex/f06dd9aa-3758-465d-af46-f1eae5b3c706.vsidx
deconvolution/.vs/deconvolution/FileContentIndex/read.lock
deconvolution/.vs/deconvolution/v17/.wsuo
deconvolution/debugplots/
deconvolution/Test document.txt
deconvolution/data/2019_08_03_HNO3Data.csv 
deconvolution/data/2019_08_06_HNO3Data.csv 
deconvolution/data/2019_08_07_HNO3Data.csv 
deconvolution/data/2019_08_08_HNO3Data.csv 
deconvolution/data/2019_08_12_HNO3Data.csv 
deconvolution/data/2019_08_13_HNO3Data.csv 
deconvolution/data/2019_08_15_HNO3Data.csv 
deconvolution/data/2019_08_16_HNO3Data.csv 
deconvolution/data/2019_08_21_HNO3Data.csv 
deconvolution/data/2019_08_23_HNO3Data.csv 
deconvolution/data/2019_08_26_HNO3Data.csv 
deconvolution/data/2019_08_29_HNO3Data.csv 
deconvolution/data/2019_08_30_HNO3Data.csv 
deconvolution/data/2019_08_31_HNO3Data.csv
deconvolution/data/2019_09_03_HNO3Data.csv 
deconvolution/data/2019_09_05_HNO3Data.csv